Stratego/.vs/Stratego/v15/Server/sqlite3/storage.ide-wal
Stratego/.vs/Stratego/v15/Server/sqlite3/storage.ide-shm
Stratego/.vs/Stratego/v15/Server/sqlite3/storage.ide
Stratego/.vs/Stratego/v15/.suo
Stratego/Stratego/bin/
Stratego/Stratego/obj/
Stratego/TestStratego/bin/
Stratego/TestStratego/obj/
Stratego/Stratego.sln.DotSettings.user
Stratego/.vs/
AcmeLease/.vs/
AcmeLease/AcmeLease/bin/Debug/
*.user
AcmeLease/AcmeLease/obj/
AcmeLease/AcmeLeaseTest/bin/Debug/netcoreapp2.1/AcmeLease.dll
AcmeLease/AcmeLeaseTest/bin/
AcmeLease/AcmeLeaseTest/obj/
TestGalgje/.vs/
TestGalgje/TestGalgje/bin/
TestGalgje/TestGalgje/obj/
TestGalgje/TestGalgjeTest/bin/
TestGalgje/TestGalgjeTest/obj/
PasswordChecker/.vs/
PasswordChecker/PasswordChecker/bin/
PasswordChecker/PasswordChecker/obj/
PasswordChecker/TestPasswordChecker/bin/
PasswordChecker/TestPasswordChecker/obj/
